body {
  background: #f8e8a6;
  text-align: center;
  margin-top: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #000000;
  margin: 10px;
}

a:hover {
  font-weight: bold;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

h1 {
  margin: 35px auto;
}

p {
  margin: 30px;
}
